<adsense class="footer">
  <div class="container">
    <br />
    <nav class="add">
      <iframe
        src="https://adpick.co.kr/nativeAD/ad.php?bannerType=type10&limit=1&affid=c5c158&frameId=AdpickAdFrame_201999%4014623&popup=false"
        width="100%"
        frameborder="0"
        scrolling="no"
        data-adpick_nativeAD
        id="AdpickAdFrame_201999@14623"
      >
      </iframe>
      <script
        src="https://adpick.co.kr/nativeAD/script.js"
        async="true"
      ></script>
    </nav>
    <br />
  </div>
</adsense>
